# --- dependencies
node_modules/

# --- Expo / React Native
.expo/
.expo-shared/
dist/
web-build/
expo-env.d.ts

# --- Generated native projects (po `expo prebuild`)
/ios
/android

# --- Build artefacts (EAS / lokalne)
*.apk
*.aab
*.ipa

# --- Environment (sekrety)
.env
.env.*
.env*.local

# --- Metro / cache / temp
.metro-health-check*
*.tsbuildinfo

# --- Logs
npm-debug.*
yarn-debug.*
yarn-error.*
*.log

# --- macOS / Windows
.DS_Store
Thumbs.db
desktop.ini

# --- IDE
.idea/
*.iml

# --- Keys / certs
*.orig.*
*.jks
*.keystore
*.p8
*.p12
*.key
*.pem
*.mobileprovision

# --- Test artefacts (jeśli użyjesz Jesta)
coverage/
junit.xml
